body{
    margin: 10px 10px;
    background-color: aqua;
    display: flex;
    color: #fff;
    flex-direction: column;
}
.nav{
    height: 100px;
   width: 95%;
    background-color: blue;
    padding: 10px 50px;
    justify-content: space-between;
    align-items: center;
    display: flex;
    border-radius: 10px;
    max-width: 100%;
}
h1{
    text-align: left;
}
.course{
    display: flex;
     flex-direction: row;
     gap: 60px;
     color: black;
     margin-left: 100px;
     
}
.list{  
    text-align: center;
    padding: auto;
    list-style: none;
    border-radius: 10px;
    color: #fff;  
}
#search{
    height: 30px;
     margin: auto;
    margin-right:1px;
     margin-left: 60px;
}
#submit{
     height: 30px;
     margin: auto;
     margin-left: none;
     justify-content: left;
     background-color: blanchedalmond;
     border-radius: 5px;   
     list-style: none;  
     
}
#main{
    display: flex;
    flex-direction: row;
}
#courselist{
    display: flex;
    flex-direction: column;
    
}
.courses{
    list-style: none;
    height: 30px;
    color: black;
    background-color: #fff;
    text-align: center;   
    border-radius: 5px;
}
#offered{
    margin: 50px;
     height: 40px;   
     
}
